$color : (
  primary : #FBB03B,
  secondary : #333,
  white : #fff,
  red : #ff0000,
  pink : #fff3df,
  txt-hover-black : #100e0e,
  grey : #CECECE
);

$font-weight : (
  light : 300,
  normal : 400,
  bold : 700
);

