.header {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 48px;
  z-index: 99;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-logo,
.nav-bar,
.header-actions {
  flex: 1;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: #fbb03b;
  font-weight: 700;
}

.header-logo-link,
.nav-link,
.icon {
  cursor: pointer;
}

.header-actions {
  display: flex;
  justify-content: flex-end;
}

.icon-search,
.icon-user,
.icon-cart {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.icon-search {
  background: transparent url("./assets/images/ic-search.svg") no-repeat top
    center;
}
.icon-user {
  background: transparent url("./assets/images/ic-avatar.svg") no-repeat top
    center;
}
.icon-cart {
  background: transparent url("./assets/images/ic-cart.svg") no-repeat top
    center;
}
.icon-arrow-left {
  background: transparent url("./assets/images/ic-arrow-left.svg") no-repeat
    center center;
}
.benefit .icon-shipping {
  background: #fff3df url("./assets/images/ic-shipping.svg") no-repeat center
    center;
}
.icon-smile {
  background: #fff3df url("./assets/images/ic-happy.svg") no-repeat center
    center;
}
.icon-dolar {
  background: #fff3df url("./assets/images/ic-dolar.svg") no-repeat center
    center;
}

.section-banner {
  position: relative;
  background: url("./assets/images/banner.png") top center / cover no-repeat;
  height: 800px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  z-index: 2;
}

.section-content-wrapper {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  z-index: 3;

  max-width: 400px;
}

.section-banner .section-title {
  font-size: 72px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.shop-link {
  color: #ffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-decoration: underline solid #fff;

  display: flex;
  align-items: center;

  margin-top: 2rem;
}

.icon-arrow-left {
  width: 36px;
  height: 36px;
  margin-right: 28px;
  background-color: #fbb03b;
  border-radius: 50%;
}

.banner-benefit {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  border-top-right-radius: 70px;
  padding: 40px 50px 40px 330px;
}

.benefit-list {
  display: flex;
  align-items: center;
}

.benefit {
  display: flex;
}

.benefit-content {
  display: flex;
  flex-direction: column;
}

.icon-smile,
.icon-dolar,
.icon-shipping {
  width: 36px;
  height: 36px;
  margin-right: 15px;
  border-radius: 10px;
}

.benefit-desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #a8a8a8;

  max-width: 80%;
  margin-top: 5px;
}

.section-advertisement {
  margin-top: 40px;
}

.advertisement-list {
  display: flex;
}

.advertisement {
  background: url("./assets/images/advertisement-1.png") top center / cover
    no-repeat;
  height: 460px;

  position: relative;
}

.advertisement-1 {
  background: url("./assets/images/advertisement-1.png") top center / cover
    no-repeat;
}
.advertisement-2 {
  background: url("./assets/images/advertisement-2.png") top center / cover
    no-repeat;
}
.advertisement-3 {
  background: url("./assets/images/advertisement-3.png") top center / cover
    no-repeat;
}

.advertisement-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;

  position: absolute;
  left: 40px;
  top: 50%;

  color: #ffff;
  max-width: 60%;
}

.advertisement-btn {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #333333;

  border-radius: 33px;
  border: none;
  padding: 15px;
  background-color: #ffff;

  position: absolute;
  left: 40px;
  bottom: 40px;

  cursor: pointer;
}

.section-products {
  margin-top: 80px;
}

.section-products .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  color: #333333;
}

.section-product-link {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #333333;

  padding: 10px 15px;
  border-radius: 39px;
  border: 1px solid #c4c4c4;
  background-color: #ffff;
}

.product-list {
  margin-top: 30px;
}
.product-item {
  position: relative;
}
.product-discount {
  color: #ffff;
  font-size: 12px;
  font-weight: 700;

  position: absolute;
  top: 24px;
  left: 30px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #ff0000;
}
.product-name {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #333333;
}

.product-price {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #333333;
}

.price-discount {
  color: #ff0000;
}

.section-new-products {
  margin-top: 40px;
}
.section-new-products .section-title {
  text-align: center;
}

.section-services {
  background-color: #f6f6f6;
  margin-top: 60px;
  padding: 50px;
}

.service-list {
  margin-top: 60px;
}

.section-services .section-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  color: #333333;
  text-align: center;
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service .icon-shipping-black,
.service .icon-payment,
.service .icon-dolar,
.service .icon-fitnest {
  width: 68px;
  height: 68px;
  border-radius: 10px;
}
.icon-shipping-black {
  background: #ffff url("./assets/images/ic-free-shipping.svg") no-repeat center
    center;
}
.service .icon-dolar {
  background: #ffff url("./assets/images/ic-dolar-black.svg") no-repeat center
    center;
}
.icon-payment {
  background: #ffff url("./assets/images/ic-payment.svg") no-repeat center
    center;
}
.icon-fitnest {
  background: #ffff url("./assets/images/ic-materials.svg") no-repeat center
    center;
}
.service-name {
  margin: 40px 0 20px 0;
}

.service-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #808080;
  max-width: 80%;
}

.section-newsletter {
  margin-top: 60px;
  position: relative;
  background: url("./assets/images/register.png") top center / cover no-repeat;
  height: 240px;
}

.newsletter-form-group {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 3;
}

.newsletter-label {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #ffff;
  max-width: 490px;
  white-space: normal;
}

.newsletter-input {
  padding: 15px 150px 15px 15px;
  border-radius: 61px;
  border: none;
  margin: 0 80px 0 100px;
}

.newsletter-btn {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #333333;
  cursor: pointer;

  padding: 15px 50px;
  border-radius: 56px;
  border: none;
  background-color: #fbb03b;
}

.footer {
  background-color: #fbb03b;
}

.footer-top {
  padding: 40px 0;
}

.footer-bottom {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #ffff;
  text-align: center;

  border-top: 2px solid #ffff;
  padding: 30px 0;
}

.shop-info-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffff;
  max-width: 370px;
  margin: 15px 0;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-facebook {
  width: 17px;
  height: 17px;
}

.icon-facebook {
  background: #ffff url("./assets/images/ic-facebook.svg") no-repeat center
    center;
}

.footer-nav-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #ffff;
}

.footer-nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffff;
}
.footer-nav-item {
  margin-bottom: 20px;
}

.footer-nav-item:first-child {
  margin-top: 20px;
}
