.tag {
  padding: 4px 8px;
  border-radius: 50px;
  color: map-get($color, text);
  font-size: 12px;
  line-height: 14.4px;
}

.tag.tag-primary {
  background-color: map-get($color, primary);
  color: map-get($color, white) !important;
}

.tag.tag-secondary {
  background-color: map-get($color, secondary);
  color: map-get($color, white) !important;
}

.tag.tag-gray {
  background-color: #f2f2f2;
  color: map-get($color, text);
}
