.footer {
  background-color: map-get($color, primary);

  &-top {
    padding: 40px 0;
  }

  &-bottom {
    font-size: 12px;
    font-weight: map-get($font-weight, normal);
    line-height: 18px;
    color: map-get($color, white);
    text-align: center;

    border-top: 2px solid map-get($color, white);
    padding: 30px 0;
  }
  .shop-info-desc {
    font-size: 14px;
    font-weight: map-get($font-weight, normal);
    line-height: 21px;
    color: map-get($color, white);
    max-width: 370px;
    margin: 15px 0;
  }
  .socials {
    margin-top: 80px;
    display: flex;
    align-items: center;
  }
  .nav-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: map-get($color, white);
  }
  .nav-link {
    font-size: 14px;
    font-weight: map-get($font-weight, normal);
    line-height: 21px;
    color: map-get($color, white);
  }
  .nav-item {
    margin-bottom: 20px;
    &:first-child {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 376px) {
  .footer {
    .footer-top {
      padding: 24px 0 48px;
      .socials {
        display: none;
      }
      .shop-info {
        margin-bottom: 48px;
      }
      .nav-title {
        margin-bottom: 16px;
      }
      .nav-item {
        margin: 6px 0;
        font-size: 12px;
      }
      .footer-nav {
        margin-bottom: 24px;
      }
      .socials {
        display: none;
      }
    }
  }
}
