.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  padding: 0 15px;
}

@for $i from 1 through 12 {
  .col.col-#{$i} {
    width: percentage(calc($i/12));
  }
}

@media screen and (max-width: 768px) { 
  .container {
    width: 720px;
  }
  @for $i from 1 through 12 {
    .col.col-md-#{$i} {
      width: percentage(calc($i/12));
    }
  }
}
@media screen and (max-width: 576px) { 
  .container {
    width: 327px;
  }
  @for $i from 1 through 12 {
    .col.col-sm-#{$i} {
      width: percentage(calc($i/12));
    }
  }
}

@media screen and (max-width : 768px) {
  .container {
    max-width: 94vw;
  }
}
