$color : (
  primary : #FFC017,
  secondary : #333,
  white : #fff,
  red : #EB5757,
  grey : #EEEEEE,
  grey-light : #FAFAFA,
  product-text : #485963,
  black : #000,
);

$font-weight : (
  light : 400,
  normal :  500,
  bold-light : 600 ,
  bold : 700
);
