.footer {
  background-color: map-get($color, primary);
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0 57px;
  }
  .shop-name {
    color: map-get($color, secondary);
    font-size: 26px;
    font-weight: map-get($font-weight, bold);
    line-height: 30px; /* 115.385% */
    margin-bottom: 32px;
  }

  .info-item:not(:last-child) {
    margin-bottom: 24px;
    text-align: center;
  }
  .shop-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: map-get($color, secondary);
    font-size: 20px;
    font-weight: map-get($font-weight, light);
    line-height: 21px; /* 105% */
  }
}
