
.footer {
  background-color: var(--primary-color);
}

.footer-top {
  padding: 40px 0;
}

.footer-bottom {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #ffff;
  text-align: center;

  border-top: 2px solid #ffff;
  padding: 30px 0;
}

.footer .shop-info-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffff;
  max-width: 370px;
  margin: 15px 0;
}

.footer .socials {
  margin-top: 80px;
  display: flex;
  align-items: center;
}

.footer-nav-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #ffff;
}

.footer-nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffff;
}
.footer-nav-item {
  margin-bottom: 20px;
}

.footer-nav-item:first-child {
  margin-top: 20px;
}
