.header {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 48px;
  z-index: 99;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-logo,
.header-actions {
  flex: 1;
}

.header-logo-link {
  cursor: pointer;
}

.header-actions {
  display: flex;
  justify-content: flex-end;
}
