@media screen and (max-width: 768px) {
  .header {
    padding-top: 24px;
  }
  .header-actions .icon-menu {
    display: none;
  }
  .container {
    max-width: 94vw;
  }

  .header-logo {
    line-height: 5px;
  }

  .header-wrapper {
    align-items: center;
  }
  .header-action-item {
    display: flex;
    align-items: center;
  }
  .section-content-wrapper {
    left: 24px;
  }
}

@media screen and (max-width: 576px) {
  .header .nav-bar {
    display: none;
  }
  .container {
    max-width: 90%;
  }
  .header-action-item:first-child {
    display: none;
  }
  .section-banner .section-title {
    font-size: 48px;
    line-height: 48.72px;
  }
  .banner-benefit {
    display: none;
  }

  .section-banner .shop-link {
    font-size: 14px;
  }
  .section-banner .icon-arrow-left {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }
  */ .section-advertisement .advertisement {
    height: 224px;
  }
  .advertisement-item:nth-child(2),
  .advertisement-item:nth-child(3) {
    margin-top: 8px;
  }
  .advertisement-item .advertisement-title {
    top: 140px;
    left: 16px;
    font-size: 14px;
    max-width: 124px;
    line-height: normal;
  }
  .advertisement-item:nth-child(2) .advertisement-title,
  .advertisement-item:nth-child(3) .advertisement-title {
    max-width: 98px;
  }
  .advertisement-item .advertisement-btn {
    left: 16px;
    bottom: 16px;
    padding: 2px 6px;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 376px) {
  .header {
    position: relative;
    padding: 20px 0;
  }
  .header .header-logo-image {
    content: url("../assets/images/Logo-ip11.png");
  }
  .header .header-actions .icon-cart {
    background: transparent url("../assets/images/ic-cart-black.svg") no-repeat
      center center;
  }
  .header .header-actions .icon-user {
    background: transparent url("../assets/images/ic-user-black.svg") no-repeat
      center center;
  }
  .header .header-actions .icon-menu {
    display: inline-block;
  }
  .header .header-actions .icon-menu {
    background: transparent url("../assets/images/ic-menu.svg") no-repeat center
      center;
  }
  .container {
    width: 327px;
  }
  .section-advertisement {
    margin: 0;
    padding-top: 24px;
  }
  .advertisement-item .advertisement {
    height: 224px;
  }
  .advertisement-item .advertisement .advertisement-btn {
    color: #333;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
  }
  .advertisement-item:nth-child(2).col {
    padding-right: 4px;
  }
  .advertisement-item:nth-child(3).col {
    padding-left: 4px;
  }

  .section-services .section-title,
  .section-products .section-title {
    font-size: 18px;
  }

  .section-products .section-product-link {
    border: none;
  }
  .product-image {
    width: 100%;
    object-fit: cover;
  }

  .section-products .product-list {
    margin-top: 0;
  }
  .product-list .product-item:nth-child(even).col {
    padding-left: 4px;
  }
  .product-list .product-item:nth-child(odd).col {
    padding-right: 4px;
  }
  .product-item .product-name {
    font-size: 12px;
    line-height: normal;
  }
  .product-item .product-price {
    font-size: 10px;
  }
  .product-item .product .product-discount {
    width: 32px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
  }
  .section-new-products .section-title {
    font-size: 18px;
    text-align: left;
  }
  .section-services .service-list,
  .section-new-products .product-list {
    margin-top: 0;
  }
  .section-services {
    padding: 24px 0;
  }
  .section-services .service {
    flex-direction: row;
  }
  .section-services .service-item {
    margin-bottom: 20px;
  }
  .section-services .service .icon {
    margin-right: 17px;
    padding: 0 30px;
  }
  .section-services .section-title {
    margin-bottom: 30px;
  }
  .section-services .service .service-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0 4px;
  }
  .section-services .service .service-name {
    margin: 0;
    font-size: 12px;
  }
  .section-services .service .service-description {
    font-size: 10px;
    line-height: normal;
  }
  .section-newsletter .newsletter-form-group {
    padding: 24px 0;
  }
  .section-newsletter .newsletter-form-group .newsletter-label {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 24px;
  }
  .section-newsletter .newsletter-form-group .newsletter-input {
    padding: 6px calc((100vw - (100vw - 376px)) / 3) 6px 12px;
    margin-bottom: 22px;
  }
  .section-newsletter .newsletter-form-group .newsletter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding: 7px 25px;
  }

  .footer .footer-top .socials {
    display: none;
  }

  .footer .footer-top {
    padding: 24px 0 48px;
  }

  .footer .footer-top .shop-info {
    margin-bottom: 48px;
  }
  .footer .footer-top .footer-nav-title {
    margin-bottom: 16px;
  }
  .footer .footer-top .footer-nav-item {
    margin: 6px 0;
    font-size: 12px;
  }
  .footer .footer-top .footer-nav {
    margin-bottom: 24px;
  }
}
