.cart-page {
  .table .product-image {
    width: 100px;
    height: 100px;
  }

  .cart-total-price {
    display: inline-block;
    padding-top: 30px;
  }

  .btn-plus , .btn-minus , .btn-delete {
    cursor: pointer;
    background-color: map-get($color, primary );
    color : map-get($color, white );
    border: none;
    outline: none;
    border-radius: 6px;
  }
  .btn-plus , .btn-minus {
    width: 20px;
    height: 20px;
  }

  .btn-delete {
    padding: 10px 20px;
  }
}
